.map-container {
  width: 100%;
  height: 80vh;
  border: 1px solid #ddd;
  margin: auto;
  overflow: hidden;
  background: #fdfdfd;
}

.map-svg {
  width: auto;
  height: 100vh;
}

.info-panel {
  text-align: center;
  margin-top: 10px;
  font-family: sans-serif;
}
